{
    "extends": [
        "stylelint-config-recommended-scss",
        "stylelint-config-recommended-vue/scss"
    ],
    "plugins": [
        "@stylistic/stylelint-plugin"
    ],
    "rules": {
        "rule-empty-line-before": null,
        "at-rule-empty-line-before": null,
        "at-rule-no-unknown": null,
        "color-no-invalid-hex": true,
        "no-descending-specificity": null,
        "selector-type-no-unknown": [
            true,
            {
                "ignore": [
                    "custom-elements"
                ]
            }
        ],
        "scss/selector-no-redundant-nesting-selector": true,
        "@stylistic/indentation": [
            4,
            {
                "baseIndentLevel": 0
            }
        ]
    }
}