:root {
    background-color: #242424;
    color: rgb(255 255 255 / 87%);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizelegibility;
    color-scheme: light dark;
    font-synthesis: none;
    text-size-adjust: 100%;
}
a {
    color: #646CFF;
    font-weight: 500;
    text-decoration: inherit;
}
a:hover {
    color: #535BF2;
}
body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    place-items: center;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
button {
    padding: 0.6em 1.2em;
    transition: border-color 0.25s;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #1A1A1A;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}
button:hover {
    border-color: #646CFF;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.card {
    padding: 2em;
}
#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
@media (prefers-color-scheme: light) {
    :root {
        background-color: #FFF;
        color: #213547;
    }
    a:hover {
        color: #747BFF;
    }
    button {
        background-color: #F9F9F9;
    }
}
