:root {
    --color-bg: #fefefe;
    --color-lightestgray: #f7f7f7;
    --color-lightgray: #eaeaea;
    --color-mediumgray: #c1c6c7;
    --color-gray: #8f989a;
    --color-text: #5a6265;
    --color-theme: #42b983;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
}
html,
body,
#app {
    margin-top: 2.5rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
}
.container {
    width: 60rem;
    max-width: 96%;
    margin: 0 auto;
    &.is-content {
        width: 35rem;
    }
}
a {
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border: none;
    color: var(--color-theme);
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
h1,
h2,
h4 {
    margin: 0;
    margin-bottom: 0.5rem;
    color: inherit;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -1px;
    text-rendering: optimizelegibility;
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.125rem;
}
section {
    margin-bottom: 1rem;
    h1,
    h2 {
        text-align: center;
    }
}
.version {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 0.75rem;
}
.btn {
    padding: 0.5rem 1.25rem;
    transition: all 0.2s ease;
    border: 1px solid var(--color-text);
    border-radius: 0.25rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 0.875rem;
    font-weight: 500;
    &:hover {
        border-color: var(--color-theme);
        background-color: var(--color-lightestgray);
        color: var(--color-theme);
        cursor: pointer;
    }
    &:active {
        background-color: var(--color-theme);
        color: var(--color-bg);
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1rem;
    &.is-1 {
        grid-template-columns: repeat(1, 1fr);
        padding: 0.5rem 0 0;
    }
    &.is-4 {
        grid-template-columns: repeat(4, 1fr);
        padding: 0.5rem 0;
    }
    .item {
        max-width: 100%;
        overflow: hidden;
        label {
            display: block;
            margin-bottom: 0.25rem;
            font-size: 0.875rem;
        }
        input {
            box-sizing: border-box;
        }
        input[type="text"],
        input[type="color"],
        input[type="number"] {
            display: block;
            position: relative;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 2rem;
            padding: 0.125rem 0.5rem;
            transition: all 0.2s ease;
            border: 1px solid var(--color-lightgray);
            border-radius: 0.25rem;
            background-color: var(--color-bg);
            color: var(--color-gray);
            font-size: 0.75rem;
            line-height: 0.75rem;
            cursor: text;
            &:hover {
                border-color: var(--color-mediumgray);
            }
            &:focus,
            &.focus {
                border-color: var(--color-theme);
                outline: none;
            }
            &:disabled {
                opacity: 1;
                background-color: var(--color-lightestgray);
                cursor: not-allowed;
                &:hover {
                    border-color: var(--color-lightgray);
                }
            }
        }
        input[type="color"] {
            padding: 0;
            border: none;
            cursor: pointer;
        }
    }
}
nav,
footer {
    width: 100%;
    background-color: var(--color-bg);
}
nav {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 50px;
    border-bottom: 1px solid var(--color-lightgray);
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        >div {
            display: flex;
            align-items: center;
        }
    }
    h4 {
        margin: 0;
        font-size: 1rem;
        line-height: 50px;
    }
    img {
        width: 24px;
        height: auto;
        margin-right: 0.5rem;
    }
    .nav-item {
        margin-left: 1rem;
        transition: all 0.3s ease;
        color: var(--color-gray);
        font-size: 12px;
        font-weight: bold;
        &:hover {
            color: var(--color-theme);
        }
    }
    .nav-icon {
        width: 20px;
        height: auto;
        margin-top: 4px;
        transition: all 0.3s ease;
        fill: var(--color-gray);
        &:hover {
            fill: var(--color-theme);
        }
    }
}
footer {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid var(--color-lightgray);
    font-size: 0.875rem;
    line-height: 1.25;
    text-align: center;
    a {
        font-size: 0.75rem;
    }
}
.head {
    text-align: center;
    .logo {
        width: 3rem;
        height: auto;
    }
    .description {
        margin-bottom: 1rem;
    }
}
.demo-section {
    margin: 4rem 0;
}
.actions-section {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    h2 {
        grid-column: 1 / 3;
        margin-bottom: 0;
    }
}
